.find-room {
    padding-top: 70px;
    background: url('/img/bg_landingPage.jpg') no-repeat center/cover;
    &__form {
        padding: 40px 30px 30px 30px;
        max-width: 374px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
    &__wrapper {
        display: grid;
        column-gap: 20px;
        justify-content: space-between;
        grid-template-columns: 45% 45%;
    }
    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #1F2041;
    }
    &__subtitle {
        padding-top: 21px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
    }
    input {
        margin-top: 6px;
        padding: 13px 15px 13px 15px;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
    }
    button.find-room__btn {
        cursor: pointer;
        margin-top: 30px;
        width: 100%;
        padding: 14px 22px 15px 18px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        border: none;
        color: #FFFFFF;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
    }
    .width {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    &__text {
        font-size: 14px;
        line-height: 24px;
        text-align: right;
        color: rgba(31, 32, 65, 0.75);
    }
    .find-room__text.first {
        margin-top: 320px;
    }
    .find-room__text.end {
        padding-bottom: 18px;
    }
    .absolute {
        position: absolute;
        transform: rotate(135deg) translate(-64px, -91px);
    }
    .absolute-max {
        position: absolute;
        transform: rotate(135deg) translate(-183px, -213px);
    }
}
.arrow__img_white {
    position: absolute;
    transform: translate(281px, 43px);
}