.find-room {
    padding-top: 70px;
    background: url('/img/bg_landingPage.jpg') no-repeat center / 100% ; //  no-repeat center bottom
    &__form {
        padding: 38px 30px 29px 30px;
        max-width: 380px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
    &__wrapper {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 47% 47%;
    }
    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #1F2041;
    }
    &__subtitle {
        padding-top: 21px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
    }
    input {
        font-size: 14px;
        margin-top: 6px;
        padding: 12px 15px 13px 14px;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
    }
    #numberguests {
        margin-top: 5px;
        padding: 11px 0px 12px 13px;
    }
    button.find-room__btn {
        cursor: pointer;
        margin-top: 30px;
        width: 100%;
        padding: 14px 21px 15px 17px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        border: none;
        color: #FFFFFF;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
    }
    .width {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    &__text {
        font-size: 14px;
        line-height: 24px;
        text-align: right;
        color: rgba(31, 32, 65, 0.75);
    }
    .find-room__text.first {
        margin-top: 320px;
    }
    .find-room__text.end {
        padding-bottom: 18px;
    }
    .absolute {
        position: absolute;
        transform: rotate(135deg) translate(-64px, -91px);
    }
    .absolute-max {
        position: absolute;
        transform: rotate(135deg) translate(-188px, -217px);
    }
}
.find-room__subtitle.max {
    padding-top: 0px;
}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    width: 312px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
}
.arrow__img_white {
    cursor: pointer;
    position: absolute;
    transform: translate(288px, 43px);
}
.ui-datepicker-trigger {
    transform: translate(114px, -34px);
    width: 17px;
	margin-left: 5px;
	position: relative;
	top: 3px;
	cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
}
.ui-datepicker .ui-datepicker-title {
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #1F2041;
    *{
        font-weight: 700; 
    }
}
.ui-widget-header {
    font-weight: 700;
    background: #FFFFFF;
    border: none;
}
tr {
    *{
        font-weight: 700; 
        font-size: 12px;
        line-height: 15px;
        color: #BC9CFF;
    }
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    font-weight: normal;
    color: #454545;
    text-align: center;
    border: none;
    background: #fff;
    padding: 13px 0 13px 0;

}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: none;
    border-radius: 22px;
    color: #fff;
    padding: 13px 0 13px 0;
}



