.find-room {
    padding-top: 70px;
    background: url('/img/bg_landingPage.jpg') no-repeat center / 100% ; //  no-repeat center bottom
    &__form {
        padding: 38px 28px 29px 30px;
        max-width: 380px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
    &__wrapper {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 47% 47%;
    }
    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #1F2041;
    }
    &__subtitle {
        padding-top: 22px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
    }
    input {
        font-size: 14px;
        margin-top: 5px;
        padding: 12px 15px 13px 14px;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
    }
    #numberguests {
        margin-top: 5px;
        padding: 12px 0px 12px 14px;
    }
    button.find-room__btn {
        cursor: pointer;
        margin-top: 31px;
        width: 100%;
        padding: 14px 19px 14px 15px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        border: none;
        color: #FFFFFF;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
    }
    .width {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    &__text {
        font-size: 14px;
        line-height: 24px;
        text-align: right;
        color: rgba(31, 32, 65, 0.75);
    }
    .find-room__text.first {
        margin-top: 320px;
        transform: translate(8px, -2px);
    }
    .find-room__text.end {
        padding-bottom: 18px;
        transform: translate(7px, -2px);
    }
    .absolute {
        position: absolute;
        transform: rotate(135deg) translate(-64px, -91px);
    }
    .absolute-max {
        position: absolute;
        transform: rotate(135deg) translate(-188px, -219px);
    }
    span.material-icons-outlined.arrow-down__form {
        z-index: 10;
        position: absolute;
        font-size: 24px;
        color: rgba(31, 32, 65, 0.5);
        transform: translate(94px, -37px);
    }
    &__subtitle.max {
        padding-top: 1px;
    }
}

.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    width: 318px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
}
.arrow__img_white {
    cursor: pointer;
    position: absolute;
    transform: translate(286px, 39px);
}
.ui-datepicker-trigger {
    z-index: 11;
    opacity: 0;
    transform: translate(114px, -34px);
    width: 17px;
	margin-left: 5px;
	position: relative;
	top: 3px;
	cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
}
.ui-datepicker .ui-datepicker-title {
    padding-top: 15px;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #1F2041;
    *{
        font-weight: 700; 
    }
}
.ui-widget-header {
    font-weight: 700;
    background: #FFFFFF;
    border: none;
}
tr {
    *{
        font-weight: 700; 
        font-size: 12px;
        line-height: 15px;
        color: #BC9CFF;
    }
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    font-weight: normal;
    color: #454545;
    text-align: center;
    border: none;
    background: #fff;
    padding: 13px 0 13px 0;

}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: none;
    border-radius: 22px;
    color: #fff;
    padding: 13px 0 13px 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
}
.ui-datepicker .ui-datepicker-buttonpane{
    border: none;
}

.ui-datepicker-prev span {
    background-image: url(./img/arrow_back.svg) !important;
    background-position: 0px 0px !important;
    width: 100%;
    height: 100%;
}

.ui-datepicker-next span {
    background-image: url(./img/arrow_forward.svg) !important;
    background-position: 0px 0px !important;
    width: 100%;
    height: 100%;
}

.ui-datepicker .selected-start:not(.selected-end) a,
.ui-datepicker .selected-end:not(.selected-start) a {
  background: #F3FDD5;
}

.ui-datepicker .selected.first-of-month:not(.selected-start) a {
  border-left: 2px dotted #D4E7F6;
  padding-left: 1px;
}

.ui-datepicker .selected.last-of-month:not(.selected-end) a {
  border-right: 2px dotted #D4E7F6;
  padding-right: 1px;
}

.ui-datepicker .ui-datepicker-next {
    top: 14px
}

.ui-datepicker .ui-datepicker-prev {
    top: 14px
}
#ui-datepicker-div{
    top: 332px;
}
a.ui-state-default.ui-state-highlight {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
    font-weight: bold;
    color: #FFFFFF;
}

.dp-highlight .ui-state-default {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #FFF;
}
.dp-highlight >.ui-state-default:nth-child(1){
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    color: #FFF;
}
.ui-datepicker.ui-datepicker-multi  {
    width: 100% !important;
}
.ui-datepicker-multi .ui-datepicker-group {
    float:none;
}
#datepicker {
    height: 300px;
    overflow-x: scroll;
}
.ui-widget { font-size: 100% }
.ui-state-active .ui-widget-content .ui-state-active {
    background: #BC9CFF;
    border-radius: 22px;
    color: #FFF;
}