.arrow__down {
    margin: 0 10px 0 5px;
    width: 7px;
    height: 7px;
    border-top: 2px solid rgba(31, 32, 65, 0.5);
    border-right: 2px solid rgba(31, 32, 65, 0.5);
    transform: rotate(135deg) translate(-2px, -2px);
}
.arrow {
    background: url('/img/arrow_forward.png');
}