.registration 
    .container 
        form.registration__wrapper
            .registration__header Регистрация аккаунта
            input(type='text' id='registration_name' placeholder='Имя') 
            input(type='text' id='registration_surname' placeholder='Фамилия') 
            .radio__wrapper
                <div class="container">
                    <div class="radio">
                        <input id="radio-1" name="radio" type="radio" checked>
                        <label for="radio-1" class="radio-label">Мужчина</label>
                    </div>

                    <div class="radio">
                        <input id="radio-2" name="radio" type="radio">
                        <label  for="radio-2" class="radio-label">Женщина</label>
                    </div>
                </div>
            .registration__title дата рождения
                input(type='text' id='registration_date' placeholder='ДД.ММ.ГГГГ') 
            .registration__title данные для входа в сервис
                input(type='email' id='registration_email' placeholder='Email') 
                input(type='password' id='registration_password' placeholder='Пароль') 
            .registration__news 
                input(type='checkbox' id='checkbox__news') 
                label(for='checkbox__news') Получать спецпредложения
            button.btn__dark.big зарегистрироваться 
                span.material-icons-outlined.material-icons.md-24.white.pl100   arrow_forward
            .registration__toxin 
                .registration__toxin_question Уже есть аккаунт на Toxin 
                button.btn__white.registration-btn войти
