.navigation__wrapper
    .navigation__logo 
        img(src="./img/logo.svg", alt="logo")
    .navigation__items  
        .navigation__item О нас 
        .navigation__item Услуги 
        .arrow__down 
        .navigation__item Вакансии
        .navigation__item Новости
        .navigation__item Соглашения
        .arrow__down 
        include ../btns/btnWhite.pug 
        include ../btns/btnDark.pug 