.navigation {
    &__logo {
        padding: 17px 0 12px 0;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__items {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: rgba(31, 32, 65, 0.5);
    }
    &__item {
        padding-left: 21px;
    }
}