.navigation
    .container 
        .navigation__wrapper
            .navigation__logo 
                img(src="./img/logo.svg", alt="logo")
            .navigation__items  
                .navigation__item О нас 
                .navigation__item Услуги 
                span.material-icons-outlined.material-icons.md-24 expand_more
                .navigation__item Вакансии
                .navigation__item Новости
                .navigation__item Соглашения
                span.material-icons-outlined.material-icons.md-24 expand_more 
                include ../btns/btnWhite.pug 
                include ../btns/btnDark.pug 