.room-details__bg 
.container
    .room-details__wrapper
        .room-details__content 
            .room-details__rating 
                .room-details__pluses
                    .room-details__info Сведения о номере
                    .room-details__pluses_item 
                        .room-details__pluses_img
                            img(src="./img/insert_emoticon.svg", alt="comfort")
                        .room-details__pluses_title Комфорт
                        .room-details__pluses_subtitle Шумопогращающие стены
                    .room-details__pluses_item 
                        .room-details__pluses_img
                            img(src="./img/location_city.svg", alt="city")
                        .room-details__pluses_title Удобство
                        .room-details__pluses_subtitle Окно в каждой из спален
                    .room-details__pluses_item 
                        .room-details__pluses_img
                            img(src="./img/whatshot.svg", alt="fireplace")
                        .room-details__pluses_title Уют
                        .room-details__pluses_subtitle Номер оснащен камином
                .room-details__points
                    .room-details__info Впечатления от номера
                    .room-details__points_cicrle_a
                    .room-details__points_cicrle_b 
                    .room-details__points_cicrle_c
                    .room-details__points_wrapper 
                        .room-details__points_item 
                            .room-details__points_mini-cirle 
                            .room-details__points_verdict Великолепно
                        .room-details__points_item 
                            .room-details__points_mini-cirle 
                            .room-details__points_verdict Хорошо
                        .room-details__points_item 
                            .room-details__points_mini-cirle 
                            .room-details__points_verdict Удовлетворительно
                        .room-details__points_item 
                            .room-details__points_mini-cirle 
                            .room-details__points_verdict Разочарован
                    .room-details__points_vote 260 
                        .room-details__points_vote-mini  голосов
            .room-details__comments 
                .room-details__comments_title   
                    .room-details__comments_subtitle Отзывы посетителей номера
                    .room-details__comments_reviews 2 отзыва
                .room-details__comments_wrapper 
                    .room-details__comments_item 
                        .room-details__comments_left 
                            .room-details__comments_img         
                                img(src="./img/image.png", alt="avatar")
                            .room-details__comments_likes 12
                        .room-details__comments_right 
                            .room-details__comments_name Мурад Сарафанов
                            .room-details__comments_activity 5 дней назад
                            .room-details__comments_content Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. 
                            .room-details__comments_content И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто 
                            .room-details__comments_content не жаловался из соседей.              
                    .room-details__comments_item 
                        .room-details__comments_left 
                            .room-details__comments_img         
                                img(src="./img/image 4.png", alt="avatar")
                            .room-details__comments_likes 2
                        .room-details__comments_right 
                            .room-details__comments_name Патрисия Стёклышкова
                            .room-details__comments_activity Неделю назад
                            .room-details__comments_content Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, 
                            .room-details__comments_content каждый день новое блюдо и десерт как комплимент
            .room-details__rules
                .room-details__rules_left 
                    .room-details__rules_title Правила
                    .room-details__rules_rule Нельзя с питомцами
                    .room-details__rules_rule Без вечеринок и мероприятий
                    .room-details__rules_rule Время прибытия — после 13:00, а выезд до 12:00
                .room-details__rules_right 
                    .room-details__rules_title Отмена
                    .room-details__rules_text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
        .room-details__price
            .room-details__text 
                .room-details__number № 888 люкс
                .room-details__price-day 9 990₽ в сутки
