.room-details {
    &__bg {
        height: 485px;
        background: url('./img/Group\ 9.jpg') no-repeat center/cover;
    }
    &__wrapper {
        margin-top: 70px;
        display: grid;
        column-gap: 70px;
        grid-template-columns: 61% 33%;
    }
    &__info {
        grid-column-start: 1;
        grid-column-end: 4;
        font-weight: 700;
        font-size: 19px;
        line-height: 23px;
        color: #1F2041;
    }
    &__comments {
        margin-top: 30px;
    }
    &__pluses_item {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 48px 233px;
        column-gap: 10px;
    }
    &__pluses_img {
        grid-row-start: 1;
        grid-row-end: 3;
    }
    &__pluses_title {
        grid-column-start: 2;
        grid-column-end: 3;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }
    &__pluses_subtitle {
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }
    &__points {
        display: grid;
        grid-template-columns: 65px auto auto;
        grid-template-rows: 45px 63px 63px;
    }
    &__points_wrapper {
        margin-top: 30px;
    }
    &__points_vote {
        transform: translate(-192px, -23px);
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #BC9CFF;
    }
    &__points_verdict {
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }
    &__points_vote-mini {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #BC9CFF;
    }
    &__points_cicrle_a {
        grid-row-start: 2;
        grid-row-end: 4;
        width: 56px;
        height: 117px;
        border: 4px solid orange;
        border-radius: 100% 0 0 100%/50% 0 0 50%;
        border-right: none;
    }
    &__points_cicrle_b {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        width: 56px;
        height: 56px;
        border: 4px solid #BC9CFF;
        border-radius: 0% 100% 0% 100% / 100% 100% 0% 0% ;
        border-left: none;
        border-bottom: none;
    }
    &__points_cicrle_c {
        margin-top: 2px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        width: 56px;
        height: 56px;
        border: 4px solid #6FCF97;
        border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%  ;
        border-left: none;
        border-top: none;
    }
    &__rating {
        display: grid;
        grid-template-columns: auto auto;
    }
    &__comments_subtitle {
        font-weight: 700;
        font-size: 19px;
        line-height: 23px;
        color: #1F2041;
    }
    &__comments_title {
        display: flex;
        justify-content: space-between;
    }
    &__comments_reviews {
        font-size: 14px;
        line-height: 14px;
        color: rgba(31, 32, 65, 0.5);
    }
    &__comments_item {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 50px auto;
    }
    &__comments_img img {
        transform: translate(-23px, -11px);
    }
    &__comments_name {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }
    &__comments_activity {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }
    &__comments_content {
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }
    &__comments_right {
        padding-left: 5px;
    }
    &__comments_post {
        cursor: pointer;
        transform: translate(1px, -42px);
        width: 40px;
        height: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 10px;
    }
    &__comments_likes {
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: rgba(31, 32, 65, 0.25);
    }
    &__rules {
        display: grid;
        margin-top: 30px;
        column-gap: 70px;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
    &__rules_title {
        padding-bottom: 10px;
        font-weight: 700;
        font-size: 19px;
        line-height: 23px;
        color: #1F2041;
    }
    &__rules_text {
        padding-top: 10px;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }
    &__rules_rule {
        padding-top: 10px;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }
    &__rules_rule::before {
        content: '';
        position: absolute;
        transform: translate(-20px, 7px);
        height: 10px;
        width: 10px;
        background: rgba(31, 32, 65, 0.25);
        border-radius: 50%;
    }
}
.heart {
    background-color: rgba(31, 32, 65);
    display: inline-block;
    margin: 0px 0px 15px 0px;
    position: relative;
    top: 0;
    transform: rotate(-45deg); // поворачиваем на -45 градусов
    left: 10%; top: 45%; // смещаем позицию слева и сверху по 45%
    height: 5px; // квадрат
    width: 5px;
  }
  .heart:before,
  .heart:after {
    content: "";
    background-color: rgba(31, 32, 65);
    border-radius: 50%; // квадрат со скругленными углами 50% = круг
    height: 5px;
    position: absolute;
    width: 5px;
  }
  .heart:before {
    top: -3px;
    left: 0;
  }
  .heart:after {
    left: 3px;
    top: 0;
  }


  
  