.footer__top 
    .footer__top_item 
        .footer__top_logo 
            img(src="./img/Logo.svg", alt="logo")
        .footer__top_descr Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .footer__top_item 
        .footer__top_title Навигация
        .footer__top_subtitle О нас
        .footer__top_subtitle Новости
        .footer__top_subtitle Служба поддержки
        .footer__top_subtitle Услуги
    .footer__top_item 
        .footer__top_title О нас
        .footer__top_subtitle О сервисе
        .footer__top_subtitle Наша команда
        .footer__top_subtitle Вакансии
        .footer__top_subtitle Инвесторы
    .footer__top_item 
        .footer__top_title Служба поддержки
        .footer__top_subtitle Соглашения
        .footer__top_subtitle Сообщества
        .footer__top_subtitle Связь с нами
    .footer__top_item.last 
        .footer__top_title Подписка
        .footer__top_subscription Получайте специальные 
        .footer__top_subscription предложения и новости сервиса
        form.footer__top_form(action="submit") 
            input(
                type="text"
                placeholder="Email"
                )
