.footer__bot 
    .footer__bot_item Copyright © 2018 Toxin отель. Все права защищены.
    .footer__bot_item.icons
        img(src="./img/twitter.svg", alt="twitter")
        img(src="./img/facebook.svg", alt="facebook")
        img(src="./img/inst.svg", alt="instagram")