<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        .navigation
            .container
                include components/navigation/navigation.pug
        .find-room 
            .container 
                include components/findRoom/findRoom.pug
        footer.footer 
            .container 
                include components/footer/footer.pug
        .footer-line 
            .container 
                include components/footer/footer__bot.pug
        script(src='./main.js')