button.btn__white {
    margin-left: 20px;
    background: #fff;
    padding: 9px 20px 10px 20px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    border: 2px solid #BC9CFF;
    border-radius: 22px;
    cursor: pointer;
}