.search-room {
    &__wrapper {
        margin-top: 29px;
        display: grid;
        justify-content: space-around;
        grid-template-columns: minmax(200px, 266px) minmax(600px, 834px);
        column-gap: 60px;
    }
    &__subtitle {
        padding-bottom: 2px;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #1F2041;
    }
    &__item {
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        background: #fff;
        margin-top: 20px;
        max-width: 270px;
        border-radius: 5px;
    }
    &__price {
        padding: 20px 17px 0px 21px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__price_left {
        display: flex;
        align-items: center;
    }
    &__price_right {
        display: flex;
    }
    &__stars {
        display: flex;
        justify-content: space-between;
    }
    &__stars_wrapper {
        border-top: 1px solid rgba(31, 32, 65, 0.1);;
        padding-top: 6px;
        margin: 8px 20px 20px 21px;
        display: flex;
        justify-content: space-between;
    }
    &__number {
        padding-right: 3px;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #1F2041;
    }
    &__room-number {
        padding-right: 5px;
        padding-bottom: 3px;
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
        color: #1F2041;
    }
    &__type {
        padding-top: 2px;
        padding-left: 3px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #BC9CFF;
    }
    &__value {
        padding-right: 5px;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);
    }
    &__day {
        font-size: 12px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);
    }
    &__reviews_wrapper {
        display: flex;
        padding-top: 6px;
    }
    &__reviews {
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: rgba(31, 32, 65, 0.5);
    }
    &__reviews_bold {
        padding-right: 5px;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: rgba(31, 32, 65, 0.5);
    }
    &__items {
        display: grid;
        column-gap: 12px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &__filter_title-first {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
    }
    &__filter_title {
        padding-top: 30px;
        padding-bottom: 6px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
    }
    &__filter_subtitle {
        padding-left: 27px;
        font-size: 12px;
        line-height: 15px;
        color: rgba(31, 32, 65, 0.5);
    }
    &__filter_label {
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.75);
    }
    &__filter_label-mini {
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);
    }
    &__filter_wrapper {
        input {
            display: none;
        }
    }
    &__filter_element {
        padding-top: 10px;
    }
    &__filter_price {
        padding-top: 10px;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: rgba(31, 32, 65, 0.5);
    }
    &__filter_item_top {
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
    &__filter_select {
        margin-top: 5px;
        padding: 10px;
        width: 100%;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 2px;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }
    .search-room__page-switcher {
        grid-column-start: 2;
        width: 280px;
        padding: 10px;
        margin: 30px auto;
        white-space: nowrap;
    }
    
    .search-room__page-switcher a,
    .search-room__page-switcher span {
        display: inline-block;
        min-width: 20px;
        height: 40px;
        padding: 0 10px;
        line-height: 40px;
        color: white;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        border-radius: 20px;
        font-weight: normal;
        font-size: 12px;
        color: rgba(31, 32, 65, 0.5);
    }
    
    .search-room__page-switcher .next {
        text-indent: -1000px;
        margin-left: 20px;
        background-image: url("https://htmlacademy.ru/assets/course14/arrows.png");
        background-repeat :no-repeat ;
        background-position: 0px -40px;
    }
    .search-room__page-switcher .current {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        line-height: 40px;
        color: #FFFFFF;
    }
    
    .search-room__page-switcher .disabled {
        opacity: 0.3;
    }
    
    .search-room__page-switcher a:hover {
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        color: #FFFFFF;
    }
    input[type=checkbox] {display: none;}

    input[type=checkbox] + label:before {
        content: "\2714";
        color: transparent;
        display: inline-block;
        border: 1px solid rgba(31, 32, 65, 0.25);
        font-size: 20px;
        font-weight: 900;
        line-height: 22px;
        margin: -5px 5px 0 0;
        height: 20px;
        width: 20px;
        text-align: center;
        vertical-align: middle;
        transition: color ease .3s;
        border-radius: 4px;
    }

    input[type=checkbox]:checked + label:before {
        color: #BC9CFF;
        border-color: #BC9CFF;
    }
    .swiper {
        width: 270px;
        height: 151px;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
    
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .circles {
        position: absolute;
        transform: translate(207px, -23px);
        z-index: 100;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .swiper-button-next {
        display: none;
        color: #FFFFFF;
        --swiper-navigation-size: 18px;
    }
    .swiper-button-prev {
        display: none;
        color: #FFFFFF;
        --swiper-navigation-size: 18px;
    }
    .swiper:hover .circles {
        display: none;
    }
    .swiper:hover .swiper-button-next {
        display: block;
    }
    .swiper:hover .swiper-button-prev {
        display: block;
    }
    
    //nouislider
    
    #slider .noUi-handle {
        height: 18px;
        width: 18px;
        top: -7px;
        right: -9px; /* half the width */
        border-radius: 9px;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border: 2px solid #FFFFFF;
        border-radius: 10px;
    }
    .noUi-handle:before, .noUi-handle:after {
        display: none;
    }
    .noUi-horizontal {
        height: 6px;
    }
}




