.search-room 
    .container 
        .search-room_wrapper 
            .search-room__filter 
            .search-room__rooms 
                .search-room__subtitle Номера, которые мы для вас подобрали
                .search-room__items 
                    .search-room__item 
                        .search-room__slider 
                            img(src="./img/room_1.png", alt="room") 
                        .search-room__price 
                            .search-room__number №
                            .search-room__room-number 888
                            .search-room__type люкс
                            .search-room__value 9990₽
                            .search-room__day в сутки
                        .search-room__stars_wrapper
                            .search-room__stars 
                                .search-room__star
                                    img(src="./img/star.png", alt="star")
                                .search-room__star
                                    img(src="./img/star.png", alt="star")
                                .search-room__star
                                    img(src="./img/star.png", alt="star")
                                .search-room__star
                                    img(src="./img/star.png", alt="star")
                                .search-room__star
                                    img(src="./img/star.png", alt="star")
                            .search-room__reviews_bold 19
                            .search-room__reviews  Отзывов