.search-room {
    &__subtitle {
        padding-top: 30px;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #1F2041;
    }
    &__item {
        margin-top: 20px;
        max-width: 270px;
    }
    &__price {
        padding: 16px 17px 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__price_left {
        display: flex;
        align-items: center;
    }
    &__price_right {
        display: flex;
    }
    &__stars {
        display: flex;
        justify-content: space-between;
    }
    &__stars_wrapper {
        border-top: 1px solid rgba(31, 32, 65, 0.1);;
        padding-top: 8px;
        margin: 8px 20px 20px 20px;
        display: flex;
        justify-content: space-between;
    }
    &__number {
        padding-right: 3px;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #1F2041;
    }
    &__room-number {
        padding-right: 5px;
        padding-bottom: 3px;
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
        color: #1F2041;
    }
    &__type {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #BC9CFF;
    }
    &__value {
        padding-right: 5px;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);
    }
    &__day {
        font-size: 12px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);
    }
    &__reviews_wrapper {
        display: flex;
        padding-top: 3px;
    }
    &__reviews {
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: rgba(31, 32, 65, 0.5);
    }
    &__reviews_bold {
        padding-right: 5px;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: rgba(31, 32, 65, 0.5);
    }
    &__items {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}
.swiper {
    width: 270px;
    height: 151px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.circles {
    position: absolute;
    transform: translate(207px, -21px);
    z-index: 100;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-next {
    display: none;
    color: #FFFFFF;
    --swiper-navigation-size: 18px;
}
.swiper-button-prev {
    display: none;
    color: #FFFFFF;
    --swiper-navigation-size: 18px;
}
.swiper:hover .circles {
    display: none;
}
.swiper:hover .swiper-button-next {
    display: block;
}
.swiper:hover .swiper-button-prev {
    display: block;
}

//nouislider

#slider .noUi-handle {
    height: 18px;
    width: 18px;
    top: -7px;
    right: -9px; /* half the width */
    border-radius: 9px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}
.noUi-handle:before, .noUi-handle:after {
    display: none;
}
.noUi-horizontal {
    height: 6px;
}